.text{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
i{
    cursor: pointer;
    font-size: 20px;
}
.col-sm-2{

    font-size: 20px;
}
.col-md-12{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
}